/* Universal styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.heading {
    display: flex;
    padding-left: 170px;
    padding-right: 150px;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

/* .heading-content {
    padding: 175px 30px 150px 0px;
} */
.heading-content {

    padding-right: 30px;
}

.heading-slogan {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 15px 30px;
}

.btn-primary a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.heading img {
    width: 450px;

}

/* main section styles */
.our-featured {
    padding-top: 40px;
}

.featured-title {
    line-height: 0;
}

.our-featured .featured-section {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}


.featured-section .flower-section {
    margin: auto;
    border-radius: 300px 300px 0px 0px;
    height: 370px;
    width: 330px;
    text-align: center;

}

.featured-section .flower-sec-one {
    background: rgba(167, 33, 98, 0.15);
    
}

.featured-section .flower-sec-two {
    background: rgba(5, 151, 160, 0.15);
}

.featured-section .flower-sec-three {
    background: rgba(71, 125, 17, 0.15);
}

.featured-section .flower-sec-one .flower{
    width: 170px;
    height: auto;
    margin-top: 136px;
}

.featured-section .flower-sec-two .flower{
    width: 170px;
    height: auto;
    margin-top: 157px;
}

.featured-section .flower-sec-three .flower{
    width: 170px;
    height: auto;
    margin-top: 115px;
}

.our-featured .featured-content {
    text-align: center;
}

.flower-name {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.flower-name .flower-para {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}


.main-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 170px;
    background: rgba(229, 84, 115, 0.05);
}

.discount-content {
    text-align: center;
}

.primary-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.off {
    color: #E55473;
}

.discount-image img {
    width: 250px;
}

/* Instagram section start for styles */

.instagram {
    padding: 40px 0px 70px 0px;
}

.insta-content {
    display: block;
    text-align: center;
}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: 0;
}

.insta-image-section {
    display: flex;
    width: 78%;
    margin: auto;
    margin-top: 50px;
}

.insta-image {
    width: 242px;
    height: auto;
    margin: 0 10px;

}

.subscribe-image {
    text-align: center;
    padding: 75px 0 0 0;
    position: relative;
}

.subscribe-image img {
    width: 1028px;
    height: auto;
}

.subscribe-image h4 {
    position: absolute;
    top: 100px;
    left: 526px;
}

.subscribe-image>p {
    position: absolute;
    top: 175px;
    left: 573px;
}

.subscribe-image input {
    position: absolute;
    top: 250px;
    left: 370px;
}

.subscribe-image button {
    position: absolute;
    top: 250px;
    right: 350px;
}

.subscribe-image input {
    width: 480px;
    padding: 13px 12px;
    border: none;
    border-radius: 5px;
    font-family: lato;
}

.subscribe-image button {
    padding: 13px 25px;
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
    font-weight: 700;
}

.footer {
    background: #111010;
    padding: 50px 0px;
    text-align: center;
}

.footer .footer-title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    line-height: 0;
}

.footer .footer-title span {
    color: #E55473;
    ;

}

.footer .footer-para {
    color: rgba(255, 255, 255, 0.90);
}

.footer .copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}